.form-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #D5925C;
  font-family: "Comfortaa";
}

.form-sauna {

  width: 400px;
  margin: 0 auto;
  .btn {
		margin-left: 85px;
  } 
}

#sauna_photo {
    // background: transparent;
    // transition: 1s;
    // border: 1px solid #2E2E2E;
    // border-radius: 60px;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-size: 1rem;
    font-weight: 400;
    padding: 8px 16px;
    margin: 0 10px;
    text-decoration: none;
		width: 95%;
  }

  #sauna_photo:hover {
    // opacity: 0.7;
    // color: white;
    // text-decoration: none;
    // transition: background 1s ease-in-out;
  }
  