.login-signup-title-design {
  color: #E6C9B5;
  /* position: sticky; */
  position: relative;
  left: 40;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 1px 2px #E6C9B5;
  letter-spacing: 1px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.alignment-form-actions {
  display: flex;
  justify-content: center;
}
