.title-show{
    text-align: center;
    margin-top: 20px;
}
 .img-sauna{
    height: 300px;
    width: 600px;
    object-fit: fill;
    margin: 0 auto;
    display: block;
 }

 .show-list{
    list-style: none;
    padding: 5px;
    background: white;
    box-shadow: 0 0 1px 1px darkgrey;
    margin-top: 16px;
    border-radius: 5px;
    border: 1px solid darkgrey;
 }