<div class="footer">
<!--   <div><p1>Follow us</p1> -->
  <div class="footer-links"> Follow us
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>

  <div class="footer-copyright">
<!--   <p>Contact </p> -->
    <i class="far fa-envelope-open-text"></i>
  </div>
</div>



