<div class="banner home" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.4),rgba(0,0,0,0.2)), url('<%= image_url "sauna.jpg" %>' );">
  <h1><strong>The Sauna Club</strong></h1>
  <p>Sweat the stress out!</p>
  <div style="margin-top:20px">
  <p><%= link_to "Discover our Saunas", saunas_path, class: "btn btn-landing" %></p>
  </div>
</div>
