.banner-sauna {
  background-size: cover;
  background-position: center;
  padding: 200px git0;
  height: 100px;
  background-image: asset_url("banner.jpg");
}

.banner-sauna h1 {
  color: black;
}

.banner-sauna p {
  color: black;
  // opacity: 1;
  font-size: 20px;
}

