.banner-all-pages {
  background-image: asset_url("sauna.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  height: 50px;
  margin-bottom: 16px;
}

.banner-all-pages h1 {
  color: #ffe8d6;
  /* position: sticky; */
  position: absolute;
  top: 120px;
  left: 40;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 1px 2px 20px #ffe8d6;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.banner-all-pages p {
  color: white;
  opacity: .7;
  font-size: 20px;
}
