.btn-all-pages {
    // opacity: 0.9;
    color: #D5925C;
    padding: 8px 24px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    width: 230px;
    font-size: 15px;
    border: 2px solid #D5925C;
    border-radius: 2px;
  }

  .btn-all-pages:hover {
    opacity: 0.7;
    color: #D5925C;
    text-decoration: none;
    transition: background 1s ease-in-out;
  }

.btn-review {
    opacity: 0.9;
    color: white;
    padding: 8px 24px;
    border-radius: 50px;
    background: rgb(241, 127, 55);
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    border-color: #ffe8d6;
    &:hover {
      background: rgb(237, 149, 94);
      text-decoration: none;
      color: white;
    }

.btn-landing {
  border-color: #ffe8d6;
  color: #ffe8d6;
  padding: 8px 24px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  width: 230px;
  font-size: 15px;
  border: 2px solid #ffe8d6;
  border-radius: 2px;
}

  .btn-landing:hover {
  opacity: 0.7;
  color: #ffe8d6;
  text-decoration: none;
  transition: background 0.1s ease-in-out;
}

.btn-sign-up-log-in {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: $Roboto;
  color: grey;
}
