.popup-title-avatar {
  display: flex;
}

.popup-content p {
  margin-bottom: 0px;
}

.popup-title {
  padding-top: 6px;
  padding-left: 6px;
}

.mapboxgl-popup-close-button {
  color: transparent;
  border-color: transparent;
}
