<div class="container">
  <h1>Find the sauna you would like to book</h1>
</div>

<div class="container">
  <p><% @saunas.each do |sauna|%>
      <ul><br><strong><%= link_to sauna.name, sauna_path(sauna) %></strong></br>
          <li><%= sauna.description %></li>
          <li><%= "#{sauna.temperature} degrees" %></li>
          <li><%= "#{sauna.seat} seat".pluralize(1) %></li>
      </ul><% end %>
    </div>
  </p>
</div>
