<div class="container">
  <h1>Find the sauna you would like to book</h1>
</div>

<div class="container">
  <p><% @saunas.each do |sauna|%>
      <br><strong><%= sauna.user.first_name %></strong></br>
      <br><%= sauna.description %></br>
      <br><%= sauna.temperature %></br>
      <%= "#{sauna.seat} seats"%>
  <% end %>
  </p>
</div>
