<div class="container">
  <h1>Find the sauna you would like to book</h1>
</div>

<% @saunas.each do |sauna|%>

        <div>
          <h2><%= sauna.user.first_name %></h2>
          <p><%= sauna.description %></p>
          <p><%= sauna.temperature %></p>
          <p><%= sauna.seat %></p>
        </div>

<% end %>


<div class="card-sauna">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-sauna-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-sauna-pricing">£99.99</h2>
<!--     <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
  </div>
</div>


