<div class="container">
  <ul>
    <li><%= @sauna.description %></li>
    <li>Temperature: <%= @sauna.temperature %> degres Celsius</li>
    <li>Number of seats: <%= @sauna.seat %></li>
    <li>
      <% if @sauna.photo.attached? %>
        <%= cl_image_tag @sauna.photo.key, height: 800, width: 900, crop: :fill %>
      <% end %>
    </li>
  </ul>
</div>
